/* --- */
/* --- General Elements --- */
/* --- */

body
{
	font-family: 'Cinzel', serif;
	color: #f2f2f2;
	margin: 0;
	background-image: url("images/dark-honeycomb.png");
	text-shadow: 2px 2px 4px #000000;
}

input[type="button"]
{
	margin-right: 3px;
	background-color: #777777;
	color: #f2f2f2;
	border: none;
}

input[type="button"]:hover
{
	background-color: #616161;
}

input[type="button"]:active
{
	background-color: #3f3f3f;
}


/* --- */
/* --- Classes --- */
/* --- */

.indexTitle
{
	text-align: center;
	padding: 0;
	margin: 0;
}

.homeHeroIcon
{
	width: 128px;
	height: 72px;
}

/* - Hero Info - */

.attributes
{
	margin-right: 20px;
}

.attributeRow > p
{
	font-size: 18px;
	margin: 4px;
}

.attributeRow
{
	display: flex;
}

.attributeRow > img
{
	width: 32px;
	height: 32px;
}


/* - Skill Info - */

.skill
{
	display: flex;
	margin-top: 5px;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skillPoint
{
	display: inline;
	width: 10px;
	margin-right: 3px;
	padding: 4px;
	background-color: #313131;
}

.skillButtons
{
	display: flex;
	flex-direction: column;
	width: 50px;
}

.levelUp, #newSegmentButton
{
	margin-bottom: 2px;
}

.levelUp, .levelDown
{
	font-size: 24px;
	padding: 5px;
}

.iconImage
{
	width: 80px;
	height: 80px;
	margin-right: 3px;
}


/* --- */
/* --- IDs --- */
/* --- */

#main
{
	width: min-content;
	margin: 0 auto 0;
	padding: 0 3vw 0;
	background-color: #231F20;
	background-image: linear-gradient(#5A5758, #231F20);
}

#skillMain
{
	margin: auto;
	padding: 2vh 8vw 4vh;
	width: min-content;
}

#itemMain
{
	margin: auto;
	width: min-content;
	padding-top: 5vh;
}

#itemMain > h1
{
	text-align: center;
}

#itemBuildMain
{
	display: flex;
	margin: auto;
	width: min-content;
}

#heroes
{
	display: grid;
  grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 3.5px;
}

#skillsBox
{
	display: inline-block;
}

#buildColumn
{
	width: 15vw;
}

#itemColumn, .itemGrid
{
	display: grid;
	grid-column-gap: 3.5px;
	height: min-content;
}

#itemColumn
{
	grid-template-rows: repeat(14, 1fr);
	grid-auto-flow: column;
}

.itemGrid
{
	grid-template-columns: repeat(4, 1fr);
	min-height: 46px;
	height: min-content;
	padding: 5px;
	margin: 5px;
	border: 2px black solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemDraggable > img
{
	width: 54px;
	height: 38px;
}

.buildSegment
{
	margin-bottom: 20px;
}

.buildSegment > h3
{
	display: inline;
	padding: 0;
	margin: 5px;
}

#buildColumn > input[type="button"], .buildSegment > input[type="button"]
{
	background-color: #a1a1a1;
	border: 0;
	margin: 5px;
}

.buildSegment > input[type="text"]
{
	border: 0;
	margin: 5px;
}

.buildSegment > input[type="button"]:hover
{
	background-color: #7d7d7d;
}

#goldCost
{
	padding: 0;
	margin: 5px;
	font-weight: bold;
	color: #daaf2b;
}


/* - Hero Info - */

#heroName
{
	display: inline-block;
	padding: 0;
	margin: 0;
}

#heroImage
{
	width: 256px;
	height: 144px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#heroInfo
{
	display: flex;
}

#stats
{
	padding: 20px;
	padding-left: 5px;
	display: flex;
	flex-direction: row;
}


/* - Loading Screen - */

#loadingScreen
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#5A5758, #231F20);
	z-index: 1;
}

#loadingScreen > h1
{
	text-align: center;
	font-size: 64px;
}


/* - Tooltip - */

#skillTooltip, #skillTooltipItem
{
	background-color: #3c3c3c;
	display: block;
	color: #f2f2f2;
	position: fixed;
	top: 0;
	right: 0;
	max-width: 30%;
	min-width: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#skillTooltipItem
{
	max-width: 23%;
}

#tooltipImageSkill
{
	width: 80px;
	height: 80px;
}

#tooltipImageItem
{
	width: 88px;
	height: 64px;
}

#tooltipTop, #tooltipTopInfo, #tooltipSkillInfo, #tooltipBot
{
	padding: 5px;
}

#tooltipTopItem, #tooltipTopInfoItem, #tooltipSkillInfoItem, #tooltipBotItem, #tooltipItemActive, #tooltipItemPassives, #tooltipItemActiveInfo
{
	padding: 5px;
}

#tooltipItemActive, #tooltipItemActiveInfo
{
	border: 2px black solid;
	margin: 5px;
}

#tooltipItemActive > h3
{
	margin: 0;
}

#tooltipTop, #tooltipTopItem
{
	display: flex;
}

#tooltipTop > div, #tooltipTopItem > div
{
	margin: 0;
	display: block;
}

#tooltipTop > div > h1, p
{
	text-align: top;
	margin: 0;
	white-space: pre-wrap;
}

tooltipTopItem > div > p, h1
{
	text-align: top;
	margin: 0;
	white-space: pre-wrap;
}

#tooltipSkillInfo, #tooltipItemActive
{
	font-size: 80%;
}